.cover__subtitle {
  margin: 0;
  max-width: 360px;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 540px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 256px;
  }
}
