.intro {
  max-width: 690px;
  margin: 0;
  margin-top: 92px;
  padding-left: 148px;
  text-align: left;

}

@media screen and (max-width: 1184px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 960px) {
  .intro {
    padding: 0 24px;
  }
}

@media screen and (max-width: 700px) {
  .intro {
    max-width: 288px;
    padding: 0 16px;
    margin: 62px auto 0;
  }
}
