.place__website {
  display: flex;
  grid-area: website;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 700px) {
  .place__website {
    max-width: 288px;
    padding: 0 16px;
  }
}
